fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
cloudinary
qdrant-client
pydantic
pydantic-settings
python-multipart
imagehash
Pillow
httpx
google-genai
c2pa-python
qrcode
piexif
pytest
